{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="row">
        <div class="col-sm-12">
            <h1 class="">Your places:</h1>
            <a href="{{ path('new_place') }}"><button type="button" class="btn btn-primary float-right">Add Place</button></a>
            <table class="table table-striped">
                <tr>
                    <td scope="col">#</td>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Address</th>
                    <th scope="col">Action</th>
                </tr>
                {%  set i = 0 %}
                {%  for place in places %}
                {%  set i = i + 1 %}
                <tr>
                    <th scope="row">{{ i }}</th>
                    <td >{{ place }}</td>
                    <td>dummy city</td>
                    <td>dummy address</td>
                    <td><a href="{{ path('place_show', { slug: place.slug}) }}">Edit</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}